* {
    box-sizing: border-box;
}

#name {
    font-family: 'Anton', sans-serif;
    font-size: 6rem;
    color: #ef5c26;
}

a {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.intro {
    padding: 2rem 0%;
    font-size: 1.3em;
    color: #909090;
}

.icon :first-child {
    padding-right: 15px;
}

.icon-tag {
    color: black;
}

.resume-section {
    padding: 8rem 5rem;
    min-height: 100vh;
    
}

.resume-title {
    margin-bottom: 3rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

hr {
    margin: 0!important;
}


.userPhoto {

    width: 150px;
    height: 150px;
    margin: 0 0;
    border-radius: 50%;
}

@media only screen and (min-width: 992px) {

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .navbar-brand {
        position: fixed;
        vertical-align: middle;
        margin-top: 5rem;
    }
    /* Styles */
    .box {
        display: flex;
    }
    
    .nav-nav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    .container {
        padding-left: 17rem;
        padding-right: 0;
    }
}

    